.details {

    background-color: darkslateblue;
    color: white;

  h4{
    color: white;
    text-decoration: underline red;
    border-radius: 20px;
  }

  .row {
    display: flex;
    justify-content: space-around;
  }

  .ingredientsContainer{
    column-count: 2;
  }

  .instructionsContainer {
    margin-top: 50px;
    border: 20px black dashed;
  }

  .btnCont button{
  margin-left: 10px;
  }
}